<div class="container">
  <div class="content">
    <h2 class="heading">Welcome!</h2>

    Remember Something is probably the world's simplest Reminder App.<br /><br />You
    can't type in what you want to be reminded of. Instead, there is only one
    button that will remind you of <strong>something</strong>.<br /><br />An
    example: Imagine, you have to do something important today and don't want to
    forget it. Simply press the button "Activate Reminder". You do not need to
    take any further action.

    <div class="got-it-button-container">
      <button
        type="button"
        class="got-it-button"
        (click)="closeOnboarding.emit()"
      >
        Got it!
      </button>
    </div>
  </div>
</div>
